/target
/project/target
/R/rscala2/man
/R/rscala2/NAMESPACE
/R/rscala2/R/INTERNAL-protocol.R
/R/rscala2/inst/java/scala-2.12/rscala2_2.12-*.jar
/R/rscala2/.Rproj.user
/R/rscala2_*.tar.gz
.Rproj.user
.Rhistory
.RData

# User-specific stuff:
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml

