/target
/project/target
/project/project/target
/R/rscala/man
/R/rscala/NAMESPACE
/R/rscala/R/INTERNAL-protocol.R
/R/rscala/inst/java
/R/rscala/java/
/R/rscala_*.tar.gz
/R/rscala.Rcheck
/R/rscala/vignettes/rscala.aux
/R/rscala/vignettes/rscala.bbl
/R/rscala/vignettes/rscala.blg
/R/rscala/vignettes/rscala.log
/R/rscala/vignettes/rscala.out
/R/rscala/vignettes/rscala.pdf
/R/rscala/vignettes/rscala.tex
/R/rscala/vignettes/rscala-concordance.tex
/R/rscala/vignettes/rscala.synctex.gz
/src/main/resources
/deliveries/rscala_*.tar.gz
/deliveries/rscala*.Rcheck
/deliveries/rscala.pdf
.Rhistory
.RData
/others
/cran-check-results

# User-specific stuff:
/.idea
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml

.Rproj.user
