/target
/project/target
/project/project/target
/R/rscala/man
/R/rscala/NAMESPACE
/R/rscala/R/INTERNAL-protocol.R
/R/rscala/inst/java
/R/rscala/java/
/R/rscala_*.tar.gz
/R/rscala.Rcheck
/src/main/resources/Rscripts
/deliveries/rscala_*.tar.gz
/deliveries/rscala.pdf
.Rhistory
.RData
/others

# User-specific stuff:
/.idea
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml

.Rproj.user
