import(utils)

export("strintrplt")

export("scala")
export("scalaSettings")

export(".rscalaJar")
export(".rscalaPackage")

export("scalaInfo")
export("scalaInstall")
export("scalap")

S3method("print","ScalaInterpreter")
S3method("toString","ScalaInterpreter")
S3method("print","ScalaInterpreterReference")
S3method("toString","ScalaInterpreterReference")

S3method("print","ScalaCachedReference")
S3method("toString","ScalaCachedReference")
S3method("$","ScalaCachedReference")

S3method("$","ScalaInterpreterReference")
S3method("print","ScalaFunction")

S3method("print","ScalaInterpreterItem")
S3method("toString","ScalaInterpreterItem")
S3method("$","ScalaInterpreterItem")

export("%~%")
export("%.~%")
export("%@%")
S3method("%~%","ScalaInterpreter")
S3method("%~%","ScalaFunctionArgs")
S3method("%.~%","ScalaInterpreter")
S3method("%.~%","ScalaFunctionArgs")
S3method("%@%","ScalaInterpreter")

S3method("$","ScalaInterpreter")
S3method("$<-","ScalaInterpreter")

S3method("close","ScalaInterpreter")

