/Integration_of_R_and_Scala_using_rscala.aux
/Integration_of_R_and_Scala_using_rscala.bbl
/Integration_of_R_and_Scala_using_rscala.blg
/Integration_of_R_and_Scala_using_rscala.log
/Integration_of_R_and_Scala_using_rscala.out
/Integration_of_R_and_Scala_using_rscala.pdf
/Integration_of_R_and_Scala_using_rscala.tex
/cache/
/eurodist.csv
/figure/
