/Integration_of_R_and_Scala_Using_rscala.aux
/Integration_of_R_and_Scala_Using_rscala.bbl
/Integration_of_R_and_Scala_Using_rscala.blg
/Integration_of_R_and_Scala_Using_rscala.log
/Integration_of_R_and_Scala_Using_rscala.out
/Integration_of_R_and_Scala_Using_rscala.pdf
/Integration_of_R_and_Scala_Using_rscala.tex
/cache/
/eurodist.csv
/figure/
